build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
*.log
.DS_Store
/minecraft/src/main/resources/assets/player_animation_library/player_animations/dont_include
